.main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.loader {
    height: 70vh;
    align-content: center;
}
