.button {
    border: none;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    background: #424b54;
    color: #ffffff;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background: #4e5863;
}

.action__button {
    width: 50px;
    font-size: 20px;
    background: #ebf7ff;
    border: 1px solid #ffffff;
    color: #005bff;
}

.action__button:hover {
    background: #d3e7ff;
}

.action__buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.counter {
    margin: 0 20px;
}
